<%- include("template/cabecera", { title: "Guardando", style: "servicios" }) %>
    <%-
include("template/navbar") %>

<h1>estamos guardando tus datos</h1>

<script src="../public/JS/guardar.js"></script>

<%- include("template/footer") %>