<%- include("template/cabecera", {
  title: "Nihon",
  style: "index"  
  }) %>
<%- include("template/navbar") %>

    <section class="showcase">

      <div class="video-container">

          <video rel="preload" id="videoJapon" src="/public/media/videos/videoInicio.mp4" autoplay muted loop></video>

      </div>

      <div id="scroll-content" class="content">

        <h1 class="titulosh1">
          ¿QUIERES CONOCER <span class="rojo">JAPÓN</span>?
        </h1>
        <p class="subtexto">
          El país del sol naciente es uno de los destinos preferidos entre
          aquellos que desean viajar en el tiempo y conocer una cultura
          milenaria que, además de sorprender, enamora.
        </p>
      </div>



  </section>

    <div class="textoInformacion">
      <h2 class="h2inf">Por qué visitar <span class="rojo">Japón</span></h2>
      <p class="pinf">
        Por su sorprendente cultura, por su animada vida nocturna, por probar
        su exótica gastronomía, por convivir con
        <span class="rojo">35 millones de personas</span> o por ir de compras
        en una de las ciudades más apropiadas para ello, cualquier razón es
        buena para viajar a Tokio.

        <br /><br />

        La fortaleza del euro durante los últimos años ha hecho que el turismo
        en Japón esté en auge. Cada año el número de españoles que visitan
        Japón aumenta a un ritmo de entre
        <span class="rojo">el 20 y el 50%,</span> llegando a viajar más de
        90.000 españoles en 2016. Este dato aún queda muy lejos de los casi
        400.000 japoneses que visitan España cada año.
      </p>
    </div>

    <div class="gridImagenes">
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid1.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid2.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid3.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid4.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid5.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid6.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid7.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid8.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid9.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid10.jpg" />
      </div>
      <div class="grid-item" href="#">
        <img class="grid-imagen" src="../public/media/img/imgGrid11.jpg" />
      </div>


      
    </div>




    <div class="divAnimacion">
      <div class="sol"></div>

      <h2 class="h2inf">Reserva tu viaje con nosotros.</h2>

      <p class="pinf">
        Reserva tu viaje de forma rápida y sencilla desde cualquier
        dispositivo y da rienda a viajar por el pais Nipon
      </p>
        
      <a href="/reservas" class="botonReserva"> Reservar</a>

    </div>

<%- include("template/footer") %>